body {
  margin: 0;
  color: #ffffff;
  background: #000000;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  background: linear-gradient(#1f1f1f, #121212);
}

section {
}

.item-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

main {
  margin-top: 3rem;
  margin-left: 21rem;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: dimgray;
  font-weight: bold;
  font-size: xx-large;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  position: fixed;
  top: 8rem;
  left: 1.5rem;
  width: 16rem;
  height: 22rem;
  background-color: #121212;
}

.items-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  max-width: 80vw;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  padding: 8px;
  width: 240px;
  height: 320px;
  background-color: seashell;
}

.like {
  font-size: large;
}

[id] {
  scroll-margin-top: 100px;
}

.banner-container {
  display: flex;
  width: 97%;
  max-width: 97%;
  overflow: hidden;
  white-space: nowrap;
}

.animation {
  animation: slide 10s infinite linear;
}

.logo-wrapper img {
  object-fit: contain;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

nav a {
  padding: 4px;
  text-align: center;
  width: 100%;
  color: black;
}

nav h2 {
  margin: 1rem 0;
  font-size: xx-large;
}

article img {
  border-radius: 8px;
  object-fit: contain;
  overflow: hidden;
  width: 90%;
  height: 300px;
  background-color: white;
}

article:hover {
  cursor: pointer;
  animation: scaling 1s infinite;
}

.like:hover {
  color: red;
  cursor: pointer;
}

.banner-container img {
  border-radius: 8px;
  object-fit: contain;
  overflow: hidden;
  width: 160px;
  height: 160px;
  background-color: white;
}

nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

nav > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20%;
  list-style: none;
}

nav > ul > li > a {
  color: #4f4f4f;
  font-size: xx-large;
  font-weight: bold;
  text-decoration-line: none;
}

nav > ul > li:hover > a {
  color: #ffffff;
  transition: color 0.5s ease;
}

nav > ul > li:hover {
  color: #ffffff;
  background-color: #222222;
  transition: background-color 0.5s ease;
}

header > img {
  width: 3.125rem;
  height: 3.125rem;
}

header > .hamburger-icon {
  filter: invert();
}

@media (max-width: 1150px) {
  article {
    gap: 30px;
    width: 270px;
    height: 360px;
    font-size: large;
  }
}

@media (max-width: 1000px) {
  article {
    gap: 30px;
    width: 360px;
    height: 480px;
    font-size: large;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scaling {
  0% {
    transform: scaleY(1);
  }
  50% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
